.Button {
  cursor: pointer;
  color: inherit;
}

.clear {
  border: none;
  background: none;
  outline: none;
}

.outlined {
  padding: 10px 20px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background: transparent;
}
