.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);

  position: relative;
  transition: all 0.3s;
}

.switchers {
  position: absolute;
  width: 100%;
  bottom: 20px;
  display: flex;
  justify-content: center;
}

.collapsedBtn {
  position: absolute;
  right: calc(var(--sidebar-width-collapsed) / 2);
  top: 50%;
  transform: translate(50%, -50%);
}

.items {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.link {
  width: fit-content;
  margin: 5px 30px;
  display: flex;
  align-items: center;
  height: var(--font-line-m);

  svg {
    margin-right: 10px;
    fill: var(--inverted-primary-color);
  }

  span {
    transition: all 0.3s;
  }
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    flex-direction: column;
  }

  .link {
    span {
      opacity: 0;
      width: 0;
    }

    svg {
      margin-right: 0;
    }
  }
}
